html, body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
}

#map{
	height: 100%;
	width: 100%;
}

#upload-thing {
	top: 5px;
	left: 5%;
	position: absolute;
	height: 36px;
	width: 36px;
	font-size: 48px;

	}
	
#upload-thing:hover {
	color: white;
	}
.fileUpload {
	position: relative;
	overflow: hidden;
	margin: 10px;
}
.fileUpload input.upload {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
}
	
#upload-div {
	width: 300px;
	height: 150px;
	margin: 40px auto;
	top: 40%;
	left: 40%;
	position: absolute;
	background-color: grey;
	-webkit-box-shadow: -6px 6px 35px -6px rgba(87,87,87,1);
	-moz-box-shadow: -6px 6px 35px -6px rgba(87,87,87,1);
	box-shadow: -6px 6px 35px -6px rgba(87,87,87,1); */
}
	position: relative;
	height: 30px;
	width: 250px;
	display: inline;
	cursor: pointer;
	opacity: 0;
	top: 45%;
}

#layer-div {
	height: 30%; 
	left: 5px;
	width: 20%;
	top: 100px;
	position: absolute;
	background-color: #f5f1dc;
	-webkit-box-shadow: -6px 6px 35px -6px rgba(87,87,87,1);
	-moz-box-shadow: -6px 6px 35px -6px rgba(87,87,87,1);
	box-shadow: -6px 6px 35px -6px rgba(87,87,87,1);
}

#stats-div {
	height: 60%; 
	right: 5px;
	width: 20%;
	top: 5px;
	position: absolute;
	background-color: #f5f1dc;
	-webkit-box-shadow: -6px 6px 35px -6px rgba(87,87,87,1);
	-moz-box-shadow: -6px 6px 35px -6px rgba(87,87,87,1);
	box-shadow: -6px 6px 35px -6px rgba(87,87,87,1);
}

#database-div {
	height: 30%; 
	bottom: 5px; 
	width: 100%; 
	margin-left: auto;
	margin-right: auto;
	position: absolute;
	background-color: #f5f1dc;
	-webkit-box-shadow: -6px 6px 35px -6px rgba(87,87,87,1);
	-moz-box-shadow: -6px 6px 35px -6px rgba(87,87,87,1);
	box-shadow: -6px 6px 35px -6px rgba(87,87,87,1);
    }

#database-button {
	width: 50px;
	height: 50px;
	padding: 0;
	margin: 0;
	float: none;
	position: absolute;
	background-color: black;
	z-index: 1000;
	top: 50px;
	right: 50px;
	cursor: pointer;
}

#layer-button {
	width: 50px;
	height: 50px;
	padding: 0;
	margin: 0;
	float: none;
	position: absolute;
	background-color: black;
	z-index: 1000;
	top: 125px;
	right: 50px;
	cursor: pointer;
}

#stats-button {
	width: 50px;
	height: 50px;
	padding: 0;
	margin: 0;
	float: none;
	position: absolute;
	background-color: black;
	z-index: 1000;
	top: 200px;
	right: 50px;
	cursor: pointer;
}